Repository kingfadzi/navdocs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_baseline, validate_functional

.gitlab-ci.yml:

# Main PPM Deployment Pipeline
# This pipeline validates BOMs and triggers dynamic child pipelines for deployment.

stages:
  - validate
  - prepare
  - deploy

# Default configuration
default:
  image: python:3.11-slim
  before_script:
    - apt-get update -qq && apt-get install -y -qq git
    - pip install PyYAML --quiet

# ============================================================
# STAGE 1: VALIDATE
# (No changes needed here)
# ============================================================
validate_baseline:
  stage: validate
  script:
    - python3 -m tools.config.validation --file boms/baseline.yaml --branch "$CI_COMMIT_BRANCH"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/baseline.yaml

validate_functional:
  stage: validate
  script:
    - python3 -m tools.config.validation --file boms/functional.yaml --branch "$CI_COMMIT_BRANCH"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/functional.yaml

# ============================================================
# TEMPLATES FOR DRY WORKFLOWS
# ============================================================
.generate_template:
  stage: prepare
  script:
    - python3 -m tools.config.pipeline --bom $BOM_FILE > $ARTIFACT_NAME
  artifacts:
    paths:
      - $ARTIFACT_NAME
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - $BOM_FILE
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - $BOM_FILE

.trigger_template:
  stage: deploy
  # Pass variables down to the child pipeline
  variables:
    BOM_FILE: $BOM_FILE
    DEPLOYMENT_TYPE: $DEPLOYMENT_TYPE
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - $BOM_FILE
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - $BOM_FILE

# ============================================================
# BASELINE DEPLOYMENT WORKFLOW
# ============================================================
generate_baseline_pipeline:
  extends: .generate_template
  variables:
    BOM_FILE: boms/baseline.yaml
    ARTIFACT_NAME: baseline-pipeline.yml

trigger_baseline_deployment:
  extends: .trigger_template
  needs:
    - job: generate_baseline_pipeline
  variables:
    BOM_FILE: boms/baseline.yaml
    ARTIFACT_NAME: baseline-pipeline.yml
    DEPLOYMENT_TYPE: baseline
  trigger:
    include:
      - artifact: $ARTIFACT_NAME
        job: generate_baseline_pipeline
    strategy: depend

# ============================================================
# FUNCTIONAL DEPLOYMENT WORKFLOW
# ============================================================
generate_functional_pipeline:
  extends: .generate_template
  variables:
    BOM_FILE: boms/functional.yaml
    ARTIFACT_NAME: functional-pipeline.yml

trigger_functional_deployment:
  extends: .trigger_template
  needs:
    - job: generate_functional_pipeline
    - job: trigger_baseline_deployment
      optional: true
  variables:
    BOM_FILE: boms/functional.yaml
    ARTIFACT_NAME: functional-pipeline.yml
    DEPLOYMENT_TYPE: functional
  trigger:
    include:
      - artifact: $ARTIFACT_NAME
        job: generate_functional_pipeline
    strategy: depend

Make referenceCode mandatory and implement BOM-centric architecture
  boms/baseline.yaml
  boms/functional.yaml
  mock/kMigratorExtract.sh
  profiles/baseline.yaml
  profiles/functional-cd.yaml
  schemas/bom-baseline-schema.json
  schemas/bom-functional-schema.json
  schemas/entity-types.yaml
  tools/config/validation.py
  tools/deployment/orchestrator.py
  tools/executors/base.py
  tools/executors/local.py
  tools/executors/remote.py
Due: validate_baseline, validate_functional

Add jsonschema dependency to fix CI/CD validation
  .gitlab-ci.yml
  requirements.txt
Due: none

Bump functional BOM to 2.1.1
  boms/functional.yaml
Due: validate_functional

Fix jsonschema dependency in child pipeline template
  templates/child-pipeline-template.yml
Due: none

Bump functional BOM to 2.1.2
  boms/functional.yaml
Due: validate_functional

Update all documentation to reflect BOM-centric architecture
  ENTITY_REFERENCE.md
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
  PIPELINE_ARCHITECTURE.md
  README.md
  schemas/README.md
Due: none

Add schema validation section and improve directory structure
  KEY_CONCEPTS.md
  README.md
Due: none

Remove redundant validation code - trust the schema
  tools/config/validation.py
Due: none

Bump BOM versions to test simplified validation
  boms/baseline.yaml
  boms/functional.yaml
Due: validate_baseline, validate_functional

Trim schemas/README.md - focus on non-obvious info
  schemas/README.md
Due: none

Add comprehensive refactoring plan for Python scripts
  .gitlab-ci.yml
  ENTITY_REFERENCE.md
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
  PIPELINE_ARCHITECTURE.md
  README.md
  boms/baseline.yaml
  boms/functional.yaml
  mock/kMigratorExtract.sh
  profiles/baseline.yaml
  profiles/functional-cd.yaml
  requirements.txt
  schemas/README.md
  schemas/bom-baseline-schema.json
  schemas/bom-functional-schema.json
  schemas/entity-types.yaml
  templates/child-pipeline-template.yml
  tools/config/pipeline.py
  tools/config/validation.py
  tools/deployment/archive.py
  tools/deployment/orchestrator.py
  tools/deployment/rollback.py
  tools/deployment/utils.py
  tools/executors/__init__.py
  tools/executors/base.py
  tools/executors/local.py
  tools/executors/remote.py
  tools/executors/ssh.py
  tools/storage/__init__.py
  tools/storage/local.py
  tools/storage/s3.py
Due: validate_baseline, validate_functional

Use refdata=install for baseline, nochange for functional
  tools/deployment/orchestrator.py
Due: none

Update docs for refdata parameter usage
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
Due: none

Remove Unicode emojis from code output
  tools/config/validation.py
  tools/deployment/orchestrator.py
Due: none

Remove Unicode characters from documentation
  ENTITY_REFERENCE.md
  KEY_CONCEPTS.md
Due: none

Add comprehensive refactoring plan for Python scripts
  ENTITY_REFERENCE.md
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
  tools/config/validation.py
  tools/deployment/orchestrator.py
Due: none

test pipeline
  boms/baseline.yaml
  config/deployment-config.yaml
Due: validate_baseline

test pipeline
  boms/baseline.yaml
Due: validate_baseline

test pipeline
  boms/baseline.yaml
  config/deployment-config.yaml
  tools/config/pipeline.py
Due: validate_baseline

test pipeline
  KEY_CONCEPTS.md
Due: none

test pipeline
  config/deployment-config.yaml
  tools/deployment/archive.py
Due: none

Feature/vault component v2 migration
  KEY_CONCEPTS.md
  boms/baseline.yaml
  config/deployment-config.yaml
  tools/config/pipeline.py
  tools/deployment/archive.py
Due: validate_baseline
