Repository kingfadzi/navdocs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_baseline, validate_functional, deploy_baseline, deploy_functional

.gitlab-ci.yml:

# Main PPM Deployment Pipeline
# This pipeline validates baseline and functional BOMs and triggers deployments based on file changes.

stages:
  - validate
  - deploy

# Default configuration
default:
  image: almalinux:8
  before_script:
    # Install Python 3.11 and system dependencies
    - dnf install -y -q git bash openssh-clients sshpass
    - dnf module reset -y python36
    - dnf install -y -q python3.11 python3.11-pip python3.11-devel
    - pip3.11 install PyYAML boto3 --quiet
    - ln -sf /usr/bin/python3.11 /usr/bin/python3

# ============================================================
# STAGE 1: VALIDATE
# ============================================================

validate_baseline:
  stage: validate
  script:
    - echo "Validating baseline BOM..."
    - python3 tools/validate_bom.py --file boms/baseline.yaml --branch "$CI_COMMIT_BRANCH"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/baseline.yaml
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - boms/baseline.yaml

validate_functional:
  stage: validate
  script:
    - echo "Validating functional BOM..."
    - python3 tools/validate_bom.py --file boms/functional.yaml --branch "$CI_COMMIT_BRANCH"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/functional.yaml
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - boms/functional.yaml

# ============================================================
# STAGE 2: DEPLOY
# ============================================================

deploy_baseline:
  stage: deploy
  trigger:
    include:
      - local: templates/gitlab-ci-template.yml
    strategy: depend
  variables:
    DEPLOYMENT_TYPE: baseline
    BOM_FILE: boms/baseline.yaml
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/baseline.yaml
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - boms/baseline.yaml

deploy_functional:
  stage: deploy
  needs:
    - job: deploy_baseline
      optional: true  # Only wait if baseline job exists
  trigger:
    include:
      - local: templates/gitlab-ci-template.yml
    strategy: depend
  variables:
    DEPLOYMENT_TYPE: functional
    BOM_FILE: boms/functional.yaml
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/functional.yaml
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - boms/functional.yaml

test pipeline
  boms/baseline.yaml
Due: validate_baseline, deploy_baseline

test pipeline
  boms/baseline.yaml
  tools/remote_executor.py
  tools/storage.py
Due: validate_baseline, deploy_baseline

test pipeline
  boms/baseline.yaml
  tools/deploy.py
Due: validate_baseline, deploy_baseline

test pipeline
  CODEOWNERS
  KEY_CONCEPTS.md
  boms/baseline.yaml
  profiles/ppm-flag-schema.yaml
  templates/child-pipeline-template.yml
  tools/deploy.py
  tools/flag_compiler.py
  tools/rollback.py
  tools/storage.py
Due: validate_baseline, deploy_baseline

test pipeline
  .gitignore
  boms/baseline.yaml
  requirements.txt
  templates/child-pipeline-template.yml
  tools/archiver.py
  tools/deploy.py
  tools/deploy_utils.py
  tools/executors/__init__.py
  tools/executors/base.py
  tools/executors/local.py
  tools/executors/remote.py
  tools/rollback.py
Due: validate_baseline, deploy_baseline

test pipeline
  boms/baseline.yaml
  tools/archiver.py
  tools/deploy.py
  tools/executors/remote.py
Due: validate_baseline, deploy_baseline

test pipeline
  boms/baseline.yaml
  config/deployment-config.yaml
  tools/generate_pipeline.py
Due: validate_baseline, deploy_baseline

Fix storage backend initialization and add configuration flexibility
  config/deployment-config.yaml
  tools/archiver.py
  tools/deploy.py
  tools/deploy_utils.py
  tools/executors/base.py
  tools/executors/local.py
  tools/executors/remote.py
  tools/remote_executor.py
  tools/rollback.py
Due: none

Remove credential env var fallback defaults to prevent account lockouts
  tools/deploy.py
  tools/deploy_utils.py
  tools/remote_executor.py
  tools/rollback.py
Due: none

Include ROLLBACK_MANIFEST in S3 snapshots for long-term rollback support
  tools/archiver.py
  tools/deploy.py
  tools/rollback.py
Due: none

Reorganize PlantUML diagrams into docs directory
  docs/application.puml
  docs/data_migration.puml
  docs/devops.puml
  docs/intgeration.puml
Due: none

Refactor tools directory into modular package structure
  .gitlab-ci.yml
  .gitlab/merge_request_templates/Deployment.md
  CODEOWNERS
  KEY_CONCEPTS.md
  MIGRATION-GUIDE.md
  README.md
  boms/functional.yaml
  templates/child-pipeline-template.yml
  tools/config/__init__.py
  tools/config/flags.py
  tools/config/pipeline.py
  tools/config/validation.py
  tools/deployment/__init__.py
  tools/deployment/archive.py
  tools/deployment/orchestrator.py
  tools/deployment/rollback.py
  tools/deployment/utils.py
  tools/executors/__init__.py
  tools/executors/local.py
  tools/executors/remote.py
  tools/executors/ssh.py
  tools/storage/__init__.py
  tools/storage/base.py
  tools/storage/local.py
  tools/storage/s3.py
Due: validate_functional, deploy_functional

Fix flag_compiler path reference in deployment utils
  tools/deployment/utils.py
Due: none

Remove migration guide and MR templates, bump BOM versions
  .gitlab/merge_request_templates/Deployment.md
  MIGRATION-GUIDE.md
  boms/baseline.yaml
  boms/functional.yaml
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

Fix storage import in orchestrator extract command
  tools/deployment/orchestrator.py
Due: none

Bump BOM versions to trigger pipeline
  boms/baseline.yaml
  boms/functional.yaml
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

Add storage, execution modes, vault, and env vars sections to KEY_CONCEPTS
  KEY_CONCEPTS.md
Due: none

Complete documentation overhaul and consolidation
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
  entity_migration.md
Due: none

Bump BOM versions for pipeline test
  boms/baseline.yaml
  boms/functional.yaml
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

Update README.md to align with current implementation
  README.md
Due: none

Add comprehensive CLI Reference section to README.md
  README.md
Due: none

Bump BOM versions to trigger pipeline test
  boms/baseline.yaml
  boms/functional.yaml
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

fix(cicd): Allow child pipelines to run
  .gitlab-ci.yml
  boms/baseline.yaml
  boms/functional.yaml
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

fix(cicd): Trigger validation jobs on branch pushes
  .gitlab-ci.yml
Due: none

fix(cicd): Correct workflow rules to trigger pipeline on pushes
  .gitlab-ci.yml
  boms/baseline.yaml
  boms/functional.yaml
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

test pipeline
  boms/baseline.yaml
  boms/functional.yaml
  tools/deployment/orchestrator.py
  tools/executors/remote.py
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

test pipeline
  boms/baseline.yaml
  boms/functional.yaml
  config/deployment-config.local.yaml
  config/deployment-config.yaml
  tools/deployment/utils.py
  tools/executors/local.py
  tools/executors/remote.py
  tools/executors/ssh.py
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

test pipeline
  boms/baseline.yaml
  boms/functional.yaml
  config/deployment-config.yaml
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

test pipeline
  boms/baseline.yaml
  boms/functional.yaml
Due: validate_baseline, validate_functional, deploy_baseline, deploy_functional

test pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

test pipeline
  boms/functional.yaml
  templates/child-pipeline-template.yml
Due: validate_functional, deploy_functional

test pipeline
  templates/child-pipeline-template.yml
Due: none
