Repository kingfadzi/navdocs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_baseline, validate_functional, deploy_baseline, deploy_functional

.gitlab-ci.yml:

# Main PPM Deployment Pipeline
# This pipeline validates baseline and functional BOMs and triggers deployments based on file changes.

stages:
  - validate
  - deploy

# Default configuration
default:
  image: almalinux:8
  before_script:
    # Install Python 3.11 and system dependencies
    - dnf install -y -q git bash openssh-clients sshpass
    - dnf module reset -y python36
    - dnf install -y -q python3.11 python3.11-pip python3.11-devel
    - pip3.11 install PyYAML boto3 --quiet
    - ln -sf /usr/bin/python3.11 /usr/bin/python3

# ============================================================
# STAGE 1: VALIDATE
# ============================================================

validate_baseline:
  stage: validate
  script:
    - echo "Validating baseline BOM..."
    - python3 tools/validate_bom.py --file boms/baseline.yaml --branch "$CI_COMMIT_BRANCH"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/baseline.yaml
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - boms/baseline.yaml

validate_functional:
  stage: validate
  script:
    - echo "Validating functional BOM..."
    - python3 tools/validate_bom.py --file boms/functional.yaml --branch "$CI_COMMIT_BRANCH"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/functional.yaml
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - boms/functional.yaml

# ============================================================
# STAGE 2: DEPLOY
# ============================================================

deploy_baseline:
  stage: deploy
  trigger:
    include:
      - local: templates/gitlab-ci-template.yml
    strategy: depend
  variables:
    DEPLOYMENT_TYPE: baseline
    BOM_FILE: boms/baseline.yaml
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/baseline.yaml
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - boms/baseline.yaml

deploy_functional:
  stage: deploy
  needs:
    - job: deploy_baseline
      optional: true  # Only wait if baseline job exists
  trigger:
    include:
      - local: templates/gitlab-ci-template.yml
    strategy: depend
  variables:
    DEPLOYMENT_TYPE: functional
    BOM_FILE: boms/functional.yaml
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - boms/functional.yaml
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH =~ /^feature\//'
      changes:
        - boms/functional.yaml

Use exact Python install from main pipeline before_script
  boms/functional.yaml
  templates/gitlab-ci-template.yml
Due: validate_functional, deploy_functional

test pipeline
  MIGRATION-GUIDE.md
  config/deployment-config.yaml
Due: none

refactor(ci): Migrate to GitLab Vault Component
  .gitlab-ci.yml
  templates/child-pipeline-template.yml
  templates/gitlab-ci-template.yml
  tools/generate_pipeline.py
  tools/setup_vault_configs.py
Due: none

chore: Trigger pipeline for testing
  boms/functional.yaml
Due: validate_functional, deploy_functional

chore(ci): Bump functional BOM to 2.0.9 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Correct vault_secret_paths to be JSON strings
  .gitlab-ci.yml
Due: none

chore(ci): Bump functional BOM to 2.0.10 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Correct undefined dependency in trigger jobs
  .gitlab-ci.yml
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Restore branch push rules to trigger pipeline
  .gitlab-ci.yml
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Add explicit needs dependencies for trigger jobs
  .gitlab-ci.yml
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Add Python image and dependencies to pipeline
  .gitlab-ci.yml
Due: none

chore(ci): Bump functional BOM to 2.0.14 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Remove quotes from component references
  .gitlab-ci.yml
Due: none

chore(ci): Bump functional BOM to 2.0.15 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Handle both string and dict formats for server names in BOM
  tools/generate_pipeline.py
Due: none

chore(ci): Bump functional BOM to 2.0.16 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Generate vault component includes in child pipeline
  tools/generate_pipeline.py
Due: none

chore(ci): Bump functional BOM to 2.0.17 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Add wget and curl to base job template
  templates/child-pipeline-template.yml
Due: none

chore(ci): Bump functional BOM to 2.0.18 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Add global default to install wget before all jobs
  templates/child-pipeline-template.yml
Due: none

chore(ci): Bump functional BOM to 2.0.19 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(ci): Use vault component v1.0.1 and remove local workarounds
  boms/functional.yaml
  templates/child-pipeline-template.yml
  tools/generate_pipeline.py
Due: validate_functional, deploy_functional

fix(ci): Correct vault component version tag from v1.0.1 to 1.0.1
  boms/functional.yaml
  tools/generate_pipeline.py
Due: validate_functional, deploy_functional

fix(ci): Revert to v1.0.1 component version tag
  boms/functional.yaml
  tools/generate_pipeline.py
Due: validate_functional, deploy_functional

chore(ci): Bump functional BOM to 2.0.23 to trigger pipeline
  boms/functional.yaml
Due: validate_functional, deploy_functional

refactor(ci): Remove vault includes from parent pipeline
  .gitlab-ci.yml
  boms/functional.yaml
Due: validate_functional, deploy_functional

fix(config): Correct vault paths to match actual Vault structure
  boms/functional.yaml
  config/deployment-config.yaml
Due: validate_functional, deploy_functional

fix(config): Revert vault paths to use /data/ for KV v2 API
  boms/functional.yaml
  config/deployment-config.yaml
Due: validate_functional, deploy_functional

feat(ci): Implement !reference pattern for multi-role vault access
  boms/functional.yaml
  templates/child-pipeline-template.yml
  tools/generate_pipeline.py
Due: validate_functional, deploy_functional

fix(ci): Export vault variables before each component call
  boms/functional.yaml
  tools/generate_pipeline.py
Due: validate_functional, deploy_functional

fix(ci): Upgrade vault component to v1.0.2
  boms/functional.yaml
  tools/generate_pipeline.py
Due: validate_functional, deploy_functional

refactor(ci): Remove redundant vault environment exports
  boms/functional.yaml
  tools/generate_pipeline.py
Due: validate_functional, deploy_functional

revert: Restore vault environment variable exports
  boms/functional.yaml
  tools/generate_pipeline.py
Due: validate_functional, deploy_functional

test pipeline
  boms/baseline.yaml
  tools/generate_pipeline.py
Due: validate_baseline, deploy_baseline

test pipeline
  boms/baseline.yaml
  config/deployment-config.yaml
Due: validate_baseline, deploy_baseline

test pipeline
  boms/baseline.yaml
Due: validate_baseline, deploy_baseline

test pipeline
  boms/baseline.yaml
  tools/remote_executor.py
  tools/storage.py
Due: validate_baseline, deploy_baseline
