Repository kingfadzi/navdocs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_baseline, validate_functional

validate_baseline:
  stage: validate
  script:
  - python3 -m tools.config.validation --file boms/baseline.yaml --branch "$CI_COMMIT_BRANCH"

validate_functional:
  stage: validate
  script:
  - python3 -m tools.config.validation --file boms/functional.yaml --branch "$CI_COMMIT_BRANCH"

test pipeline
  boms/baseline.yaml
Due: validate_baseline

test pipeline
  boms/baseline.yaml
  config/deployment-config.yaml
Due: validate_baseline

test pipeline
  boms/baseline.yaml
  tools/config/pipeline.py
Due: validate_baseline

test pipeline
  boms/baseline.yaml
  boms/functional.yaml
  config/deployment-config.yaml
Due: validate_baseline, validate_functional

Add CLI validation command and manual deployment documentation
  MANUAL_DEPLOYMENT_GUIDE.md
  tools/deployment/orchestrator.py
  tools/deployment/utils.py
Due: none

Simplify README - remove duplicated content
  README.md
Due: none

Sharpen KEY_CONCEPTS.md - focus on architecture
  KEY_CONCEPTS.md
Due: none

Add PIPELINE_ARCHITECTURE.md - pipeline execution flow
  PIPELINE_ARCHITECTURE.md
Due: none

Fix S3 upload documentation - extract stage doesn't upload to S3
  KEY_CONCEPTS.md
  PIPELINE_ARCHITECTURE.md
Due: none

Add PIPELINE_ARCHITECTURE.md to documentation links
  README.md
Due: none

Add PlantUML diagram for pipeline architecture
  docs/pipeline-architecture.puml
Due: none

Add PlantUML diagram link to pipeline architecture doc
  PIPELINE_ARCHITECTURE.md
Due: none

Remove embedded PlantUML link from pipeline doc
  PIPELINE_ARCHITECTURE.md
Due: none

test pipeline
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
  README.md
  profiles/functional-cd.yaml
Due: none

test pipeline
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
  docs/ENTITY_REFERENCE.md
  profiles/baseline.yaml
  profiles/functional-cd.yaml
Due: none

test pipeline
  ENTITY_REFERENCE.md
  KEY_CONCEPTS.md
  KMIGRATOR_REFERENCE.md
  PIPELINE_ARCHITECTURE.md
  README.md
  docs/ENTITY_REFERENCE.md
  profiles/baseline.yaml
  profiles/functional-cd.yaml
Due: none

Add comprehensive refactoring plan for Python scripts
  docs/REFACTORING_PLAN.md
Due: none

Phase 1: Quick wins - Simplify and reduce verbosity
  tools/config/pipeline.py
  tools/deployment/utils.py
  tools/executors/local.py
  tools/executors/ssh.py
Due: none

Phase 2: Core complexity reduction - Break down giant functions
  tools/deployment/archive.py
  tools/deployment/orchestrator.py
  tools/deployment/rollback.py
Due: none

Bump functional BOM version to 2.0.52 - Test refactored code in pipeline
  boms/functional.yaml
Due: validate_functional

Phase 3: Final polish - Consolidate and simplify
  tools/config/validation.py
  tools/executors/remote.py
  tools/storage/s3.py
Due: none

Force pipeline trigger - Bump to 2.0.53
  boms/functional.yaml
Due: validate_functional

Code quality improvements - Make code learner-friendly
  tools/config/pipeline.py
  tools/deployment/archive.py
  tools/deployment/orchestrator.py
  tools/deployment/rollback.py
  tools/deployment/utils.py
  tools/executors/__init__.py
  tools/executors/local.py
  tools/executors/remote.py
  tools/storage/__init__.py
  tools/storage/local.py
  tools/storage/s3.py
Due: none

Bump BOM to 2.0.54 - Test code quality improvements in pipeline
  boms/functional.yaml
Due: validate_functional

Remove non-standard characters and redundant docstrings
  tools/config/pipeline.py
  tools/config/validation.py
  tools/deployment/archive.py
  tools/deployment/orchestrator.py
  tools/deployment/rollback.py
  tools/deployment/utils.py
  tools/executors/__init__.py
  tools/executors/remote.py
  tools/storage/__init__.py
  tools/storage/s3.py
Due: none

Bump BOM to 2.0.55 - Test clean output (no emojis)
  boms/functional.yaml
Due: validate_functional

Remove ALL verbose multi-line docstrings
  tools/config/pipeline.py
  tools/executors/base.py
  tools/executors/local.py
  tools/executors/remote.py
  tools/executors/ssh.py
Due: none

Bump BOM to 2.0.56 - Test without verbose docstrings
  boms/functional.yaml
Due: validate_functional

Eliminate DRY violations in ssh.py
  tools/executors/ssh.py
Due: none

Bump BOM to 2.0.57 - Test DRY refactoring
  boms/functional.yaml
Due: validate_functional

Remove MinIO references and simplify s3.py
  tools/storage/s3.py
Due: none

Bump BOM to 2.0.58 - Test S3 simplification
  boms/functional.yaml
Due: validate_functional

Remove completed refactoring plan
  docs/REFACTORING_PLAN.md
Due: none

Bump BOM to 2.0.59 - Refactoring complete
  boms/functional.yaml
Due: validate_functional

Add description fields to profile entities
  boms/functional.yaml
  profiles/baseline.yaml
  profiles/functional-cd.yaml
Due: validate_functional

Path conditions:
  validate_baseline: any of: boms/baseline.yaml
  validate_functional: any of: boms/functional.yaml
